
{% extends 'base.html' %}


{% block content %}

        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Add Products</h1>
                </div>
            </div>
        </header>

        <div class="container">

            <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Login Form</title>
            <!-- Bootstrap CSS -->
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
            <style>
                body {
                background-color: #f8f9fa;
                }
                .login-container {
                max-width: 400px;
                margin: 100px auto;
                background-color: #fff;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0,0,0,0.1);
                }
            </style>
            </head>
            <body>
            <div class="container">
                <div class="login-container">
                <h2 class="text-center mb-4">Add Information</h2>
                <form method="POST" action="{% url 'add_product' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                        {{ form.as_p }}
                    <button type="submit" class="btn btn-secondary btn-block">Add Product</button>
                </form>
                </div>
            </div>
            <!-- Bootstrap JS (optional) -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            </body>
            </html>


            </div>


{% endblock %}