{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-3">
  <div class="container px-4 px-lg-5 my-3">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Account Approvals</h1>
          <p class="lead fw-normal text-white-50 mb-0">View pending account approvals</p>
      </div>
  </div>
</header>
<br/>


<div class="container" style="width: 40%; margin: 0 auto; text-align: center;">
    {% if accounts %}
        {% for account in accounts %}

        <div class="card text-center">
            <div class="card-header" style="font-weight: bold;">
                {{ account.userprofile.account_type }}
            </div>
            <div class="card-body">
            <h6 class="card-title"> Username: {{ account.username }}</h6>
            <p class="card-text">Name: {{ account.first_name }} {{ account.last_name }}</p>
            <p class="card-text">Email: {{ account.email }}</p>
            <button type="button" data-index="{{account.id}}" data-another-index="approve" class="btn btn-secondary action">Approve</button>
            <button type="button" data-index="{{account.id}}" data-another-index="reject" class="btn btn-danger action">Reject</button>

            </div>
            <div class="card-footer text-body-secondary">
            Joined: {{ account.date_joined }}
            </div>
        </div>       
        </br>
        {% endfor %}

    {% else %}
    </br></br>
        <h3>There is no pending account approvals at the moment.</h3>
    {% endif %}


</div>

</br></br></br></br></br></br></br></br></br></br></br></br>

<script>
    $(document).on('click', '.action', function(e){

        var anotherIndexValue = $(this).data('another-index');
        if (anotherIndexValue === 'reject') {
            var confirmation = confirm("Are you sure you want to reject this account?");
        }

        else if (anotherIndexValue === 'approve'){
            var confirmation = confirm("Are you sure you want to approve this action?");
        }
        
        if (confirmation) {
            $.ajax({
            type: 'POST',
            url: '{% url 'account_action' %}',
            data: {
                user_id: $(this).data('index'),
                admin_action: $(this).data('another-index'),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json){
                location.reload();
            },
        
            error: function(xhr, errmsg, err){

            }
        });
        }

        else {
            alert("Action cancelled.");
        }
    
    })

</script>


{% endblock %}