*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: linear-gradient(to left top, #FF7F50, #FFA07A, #FFDAB9, #FFFACD);
}
form{
    background: #808080;
    width: 325px;
    height: 500px;
    padding: 75px 75px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
h1{
    text-align: center;
    font-family: Verdana, sans-serif;
    margin-bottom: 45px;
    color: white;
    font-size: 38px;
}
h3{
    text-align:left;
    font-family: Verdana, sans-serif;
    margin-bottom: 10px;
    margin-top: 20px;
    color: white;
    font-size: 18px;
}
#accountExists{
    text-align: center;
    color: white;
    font-family: Verdana, sans-serif;
}
#login{
    text-align: center;
    font-family: Verdana, sans-serif;
}